<div class="footer-wrapper bg-dark align-bottom fixed-bottom">
    <div class="container-fluid">
        <div class="container">
            <p class="text-center text-white pt-2">
                ForkPoin - Online Shop
            </p>
        </div>
    </div>
</div>
<script src="/scripts/main.js"></script>
</body>

</html>