<%- include ../header.ejs %>

    <div class="body-wrapper">
        <h1>
            <%= title %>
        </h1>
        <p>Welcome to
            <%= title %>
        </p>
        <span class="bodyNotifier ">This is a list of all products</span>
    </div>

    <%- include ../footer.ejs %>